.job-board-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: fit-content;
    margin: 0;
  }
  
  .top-space {
    min-height: 9%;
    background-color: white;
  }
  
  .button-container {
    position: absolute;
    top: 5%;
    left: 2%;
  }
  
  .modal-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .columns-container {
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin: 0 auto;
    flex: 1;
    gap: 10px;
    margin-top: 12px;
  }
  
  .bottom-space {
    min-height: 5%;
    background-color: white;
  }
  